body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    margin: 20px 0;
    text-align: center;
}

.search-bar {
    width: 60%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
}

.search-button {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
}

section {
    margin: 40px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
}

.stock-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stock-item {
    margin: 10px;
    padding: 10px;
    width: 18%;
    background-color: #333;
    border-radius: 5px;
    text-align: left;
}
