body {
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
  }
  
  header {
    margin: 20px 0;
    text-align: center;
  }
  
  input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.2rem;
    color: white;
    background-color: lightgreen;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  section {
    margin: 40px 20px;
  }
  
  section h2 {
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .top-performers,
  .biggest-market-cap {
    margin-bottom: 40px;
  }
  
  .stock-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .stock-item {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    background-color: #333;
    border-radius: 5px;
    text-align: left;
  }
  