body {
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
}

.stock-detail {
  color: white;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* This ensures the container takes the full height of the viewport */
}

.chart-container {
  position: relative;
  height: 500px;
  width: 80%; /* Adjust the width as necessary */
  max-width: 1200px; /* Ensures it doesn't get too wide */
  margin: 0 auto; /* Centering */
}

canvas {
  background-color: black;
}

.chartjs-tooltip {
  background: white;
  color: black;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
}

.chartjs-dotted-line {
  border-style: dotted;
}

.time-range-buttons {
  margin-bottom: 20px;
}

.time-range-buttons button {
  background-color: black;
  color: white;
  border: 1px solid green;
  margin: 0 5px;
  padding: 10px;
  cursor: pointer;
}

.time-range-buttons button.active {
  background-color: green;
  color: black;
}
