.stock-detail {
  color: white;
  text-align: center;
  padding: 20px;
}

.chart-container {
  position: relative;
  height: 500px;
  width: 100%;
  margin: 0 auto;
}

canvas {
  background-color: black;
}

.chartjs-tooltip {
  background: white;
  color: black;
  border: 1px solid green;
  border-radius: 5px;
  padding: 5px;
}

.chartjs-dotted-line {
  border-style: dotted;
}
