#chart {
  width: 100%;
  height: 500px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: green;
}

.focus line {
  stroke: green;
  stroke-dasharray: 3,3;
}

.tooltip {
  position: absolute;
  text-align: center;
  width: 140px;
  height: 50px;
  padding: 2px;
  font: 12px sans-serif;
  background: white;
  border: 1px solid green;
  border-radius: 5px;
  pointer-events: none;
}

.dot {
  stroke: #000;
}
